html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: sans-serif;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
img {
  max-width: 100%;
  height: auto;
}
.main {
  max-width: 650px;
  margin: 20px auto;
}
ul.todo-list {
  list-style-type: none;
  padding: 0;
}
ul.todo-list li {
  margin: 10px 0;
}
span.complete {
  text-decoration: line-through;
}
span.delete-button {
  background-color: red;
  color: white;
  padding: 3px;
  float: right;
}
span.delete-button:hover {
  cursor: pointer;
}
.form-div {
  text-align: center;
}
.form-div input {
  width: 650px;
}